.mat-toolbar-single-row {
    justify-content: center;
    background: red;
    .logo-header-container{
        height: 64px;
        .mat-card-image.logo-header-image {
            height: inherit;
            width: auto;
            margin: 0;
        }
    }
}