/* You can add global styles to this file, and also import other style files */
body{
    margin:0px;
    .container{
        padding: 0.5% 1%;
        width: 98%;
        max-width: 1920px;
        margin: 1rem auto 0 auto;
        .container-name-section{
            padding-bottom: 20px;
            margin-bottom: 20px;
            border-bottom: 1px solid #D8DCE6;
            h1{
                color: #DA291C;
                letter-spacing: 0;
                margin: 0px;
            }
        }

        .mat-flat-button.mat-primary{
            background-color: #3d3f49;
        }
    } 
}
 

